<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th colspan="1" rowspan="1">
          Month
        </th>
        <th colspan="1" rowspan="1">
          Observance
          (ritual, week of strong determination)
        </th>
        <th colspan="1" rowspan="1">
          Moon
        </th>
        <th colspan="1" rowspan="1">
          Full moon
          (full group)
        </th>
        <th colspan="1" rowspan="1">
          New moon
          (pod)
        </th>
        <th colspan="1" rowspan="1">
          Meditative focus
        </th>
        <th colspan="1" rowspan="1">
          Book
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="1" rowspan="1">
          September 2025
        </td>
        <td colspan="1" rowspan="1">
          Mabon
        </td>
        <td colspan="1" rowspan="1">
          Corn Moon
        </td>
        <td colspan="1" rowspan="1">
          Sun 7 Sep
        </td>
        <td colspan="1" rowspan="1">
          Sun 21 Sep
        </td>
        <td colspan="1" rowspan="3">
          Samādhi
        </td>
        <td colspan="1" rowspan="3">
          Atomic Habits
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          October
        </td>
        <td colspan="1" rowspan="1">
          Samhain
        </td>
        <td colspan="1" rowspan="1">
          Hunter's Moon
        </td>
        <td colspan="1" rowspan="1">
          Tues 7 Oct
        </td>
        <td colspan="1" rowspan="1">
          Tue 21 Oct
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          November
        </td>
        <td colspan="1" rowspan="1"></td>
        <td colspan="1" rowspan="1">
          Beaver Moon
        </td>
        <td colspan="1" rowspan="1">
          Wed 5 Nov
        </td>
        <td colspan="1" rowspan="1">
          Thurs 20 Nov
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          December
        </td>
        <td colspan="1" rowspan="1">
          Yule
        </td>
        <td colspan="1" rowspan="1">
          Cold Moon
        </td>
        <td colspan="1" rowspan="1">
          Thurs 4 Dec
        </td>
        <td colspan="1" rowspan="1">
          Sat 20 Dec
        </td>
        <td colspan="1" rowspan="3">
          Mettā
        </td>
        <td colspan="1" rowspan="3">
          Braiding Sweetgrass
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          January 2026
        </td>
        <td colspan="1" rowspan="1"></td>
        <td colspan="1" rowspan="1">
          Wolf Moon
        </td>
        <td colspan="1" rowspan="1">
          Sat 3 Jan
        </td>
        <td colspan="1" rowspan="1">
          Sun 18 Jan
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          February
        </td>
        <td colspan="1" rowspan="1">
          Imbolc
        </td>
        <td colspan="1" rowspan="1">
          Snow Moon
        </td>
        <td colspan="1" rowspan="1">
          Sun 1 Feb
        </td>
        <td colspan="1" rowspan="1">
          Tue 17 Feb
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          March
        </td>
        <td colspan="1" rowspan="1">
          Ostara
        </td>
        <td colspan="1" rowspan="1">
          Worm Moon
        </td>
        <td colspan="1" rowspan="1">
          Tues 3 Mar
        </td>
        <td colspan="1" rowspan="1">
          Thurs 19 Mar
        </td>
        <td colspan="1" rowspan="3">
          Emptiness
        </td>
        <td colspan="1" rowspan="3">
          Seeing That Frees
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          April
        </td>
        <td colspan="1" rowspan="1"></td>
        <td colspan="1" rowspan="1">
          Pink Moon
        </td>
        <td colspan="1" rowspan="1">
          Thurs 2 April
        </td>
        <td colspan="1" rowspan="1">
          Fri 17 April
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          May
        </td>
        <td colspan="1" rowspan="1">
          Beltane
        </td>
        <td colspan="1" rowspan="1">
          Flower Moon
        </td>
        <td colspan="1" rowspan="1">
          Fri 1 May &amp; Sun 31 May
        </td>
        <td colspan="1" rowspan="1">
          Sat 16 May
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          June
        </td>
        <td colspan="1" rowspan="1">
          Litha
        </td>
        <td colspan="1" rowspan="1">
          Strawberry Moon
        </td>
        <td colspan="1" rowspan="1">
          Mon 29 June
        </td>
        <td colspan="1" rowspan="1">
          Mon 15 Jun
        </td>
        <td colspan="1" rowspan="3">
          Soulmaking
        </td>
        <td colspan="1" rowspan="3">
          The Journey of Soul Initiation
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          July
        </td>
        <td colspan="1" rowspan="1"></td>
        <td colspan="1" rowspan="1">
          Buck Moon
        </td>
        <td colspan="1" rowspan="1">
          Wed 29 July
        </td>
        <td colspan="1" rowspan="1">
          Tue 14 July
        </td>
      </tr>
      <tr>
        <td colspan="1" rowspan="1">
          August
        </td>
        <td colspan="1" rowspan="1">
          Lughnasadh
        </td>
        <td colspan="1" rowspan="1">
          Sturgeon Moon
        </td>
        <td colspan="1" rowspan="1">
          Fri 28 Aug
        </td>
        <td colspan="1" rowspan="1">
          Wed 12 Aug
        </td>
      </tr>
    </tbody>
  </table>
</div>