@font-face {
    font-family: 'Advait';
    src: url('AdvaitRegular.woff2') format('woff2'),
        url('AdvaitRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

